@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@foreach (var items in Model)
{
    <div class="movie-item-style-2">
        <img src="~/images/films/@items.image_link" alt="">
        <div class="mv-item-infor">
            <h6><a href="@Url.Action("Film_single", "Home", new { id = items.id})">@items.name</a></h6>
            <p class="rate"><i class="ion-android-star"></i><span>@items.rate</span> /10</p>
            <p class="describe">@Truncate(items.description, 150)</p>
        </div>
    </div>
}
