@{
    ViewBag.Title = "Film_single";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="~/images/films/@Model.Image_link" alt="">
                    <div class="movie-btn">
                        @Html.Action("Trailer", "Home", new { id = Model.Id })
                        <div class="btn-transform transform-vertical">
                            <div><a href="@Url.Action("Trailer_list", "Home", new { film_id = Model.Id})" class="item item-1 yellowbtn"><i class="ion-card"></i> watch all</a></div>
                            <div><a href="@Url.Action("Trailer_list", "Home", new { film_id = Model.Id})" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">@Model.Name</h1>
                    <div class="social-btn">
                        @Html.Action("Partial_favorite", "Home", new { id = Model.Id })
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span>@Model.Rate</span> /5<br>
                                <span class="rv">@Html.Action("Review_count", "Home") Reviews</span>
                            </p>
                        </div>
                        @Html.Action("Check_rate", "Home", new { id = Model.Id })
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#reviews"> Reviews</a></li>
                                <li><a href="#moviesrelated"> Related Movies</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.Description</p>
                                            @Html.Action("Film_review", "Home", new { id = Model.Id })
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            @Html.Action("Film_role", "Home", new { id = Model.Id })
                                            @Html.Action("Category_film", "Home", new { id = Model.Id })
                                            <div class="sb-it">
                                                <h6>Release Date:</h6>
                                                <p>@Model.Month @Model.Day, @Model.Year</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviews" class="tab review">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div class="div">
                                                <h2>@Model.Name</h2>
                                            </div>
                                        </div>
                                        @Html.Action("Film_allreview", "Home", new { id = Model.Id })
                                    </div>
                                </div>
                                <div id="moviesrelated" class="tab">
                                    <div class="row">
                                        <h3>Related Movies To</h3>
                                        <h2>@Model.Name</h2>
                                        @Html.Action("Film_related", "Home", new { id = Model.Id })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>