@model IEnumerable<BeanStore.Models.admin>
@{
    ViewBag.Title = "Admins";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (@ViewBag.Notification == "empty")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        The account you requested was not found.
    </div>
}
@using (Html.BeginForm())
{
    <div>
        <input type="text" name="txtKey" placeholder="Enter your keyword">
        <button type="submit"><i class="fa fa-search"></i></button>
        <p style="color:#FF6600; font-style:italic">(*) You can search by name, username or position.</p>
    </div>
}
<hr />
<h2>Admin Management</h2>
<p>
    @Html.ActionLink("Create New", "Created_admin")
</p>
<table class="table">
    <tr>
        <th style="width:200px">Name</th>
        <th style="width:200px">Position</th>
        <th style="width:200px">Username</th>
        <th style="width:200px">Password</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_admin", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete_admin", new { id = item.id })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to home", "Admin_Index")
</div>