@model IEnumerable<BeanStore.Models.brand>

@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (@ViewBag.Notification == "empty")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        The brand you requested is not found.
    </div>
}
@using (Html.BeginForm())
{
    <div>
        <input type="text" name="txtKey" placeholder="Enter your keyword">
        <button type="submit"><i class="fa fa-search"></i></button>
        <p style="color:#FF6600; font-style:italic">(*) You can search by brand name.</p>
    </div>
}
<hr />
<h2>Brand Management</h2>
<p>
    @Html.ActionLink("Inset new brand", "Inset_brand")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @if (item.logo == null)
                {
                    <p>-</p>
                }
                else
                {
                    <img src="~/images_logo/@item.logo" style="max-width:200px" />
                }
            </td>
            <td>
                | @Html.ActionLink("Delete", "Delete_brand", new { id = item.id })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to home", "Admin_Index")
</div>