@model IEnumerable<BeanStore.Models.catalog>
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Catalog Management</h2>
<p>
    @Html.ActionLink("Inset new catalog", "Inset_catalog")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            | @Html.ActionLink("Delete", "Delete_catalog", new { id = item.id })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Back to home", "Admin_Index")
</div>