@model BeanStore.Models.order
@{
    ViewBag.Title = "Change_processed";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Do you want to change this order to processed status?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            User name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>
        <dt>
            Old state
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status.name)
        </dd>
    </dl>
    @if (Model.status_id == 3)
    {
        <p>Note: Delivery date will be deleted</p>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Orders")
        </div>
    }
</div>