@model BeanStore.Models.item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Product details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Price:
        </dt>
        <dd style="color:#FF6600">
            $ @String.Format("{0:0,0}", Model.price)
        </dd>
        <dt>
            Discount:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.discount)
        </dd>
        <dt>
            Sale:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.sale)%
        </dd>
        <dt>
            Brand:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.brand.name)
        </dd>
        <dt>
            Catalog:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.catalog.name)
        </dd>
        <dt>
            Ranked:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.ranked.name)
        </dd>
        <dt>
            Created:
        </dt>
        <dd style="color:#FF6600">
            @Html.DisplayFor(model => model.created)
        </dd>
        <dt>
            Description:
        </dt>
        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.description)
        </dd>
        <hr />
        <hr />
        <hr />
        <dt>
            Product photos:
        </dt>
        <dd>
            <img src="@Url.Content("~/images_product/"+  Model.image_link)" height="150px" width="auto" />
            |-|
            @if (Model.image_link2 != null)
            {
                <img src="@Url.Content("~/images_product/"+  Model.image_link2)" height="150px" width="auto" />
            }
            |-|
            @if (Model.image_link3 != null)
            {
                <img src="@Url.Content("~/images_product/"+  Model.image_link3)" height="150px" width="auto" />
            }
            |-|
            @if (Model.image_link4 != null)
            {
                <img src="@Url.Content("~/images_product/"+  Model.image_link4)" height="150px" width="auto" />
            }
            |-|
            @if (Model.image_link5 != null)
            {
                <img src="@Url.Content("~/images_product/"+  Model.image_link5)" height="150px" width="auto" />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit_product", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Items", "Admin")
</p>
