@using BlockBuster.Models
@using PagedList.Mvc;
@model PagedList.PagedList<BlockBuster.Models.film>

@{
    ViewBag.Title = "Dramas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Notification == "empty")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Did not find the product you requested.
    </div>
}
@using (Html.BeginForm())
{
    <div>
        <input type="text" name="txtKey" placeholder="Enter your keyword">
        <button type="submit"><i class="fa fa-search"></i></button>
        <p style="color:#FF6600; font-style:italic">(*) You can search by name.</p>
    </div>
}
<hr />
<h2>Drama Management</h2>
<p>
    @Html.ActionLink("Create new drama", "Create_drama", "Admin")
</p>
<table class="table">
    <tr>
        <th style="width:30%">Name</th>
        <th style="width:10%">Form</th>
        <th style="width:20%">Created</th>
        <th style="width:10%">Point</th>
        <th style="width:10%">Episode count</th>
        <th style="width:15%">Poster</th>
        <th style="width:5%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.form.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
            </td>
            <td>
                <img class="miniimg-products" src="~/images/films/@item.image_link" />
            </td>
            <td>
                @Html.ActionLink("Details", "Details_film", new { id = item.id }) |
                @Html.ActionLink("Edit", "Edit_filmt", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete_film", new { id = item.id })
            </td>
        </tr>
    }
</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("List_Dramas", new { page = page }))
    </div>
    <div>
        @Html.ActionLink("Back to home", "Home")
    </div>