
@{
    ViewBag.Title = "Account_deital";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <ul class="breadcumb">
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <img src="~/images/uploads/user-img.png" alt=""><br>
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li class="active"><a href="@Url.Action("Account_deital", "User")">Profile</a></li>
                            <li><a href="@Url.Action("Account_favorite", "User", new { id = Model.id })">Favorite movies</a></li>
                            <li><a href="@Url.Action("Account_rated", "User", new { id = Model.id })">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a href="@Url.Action("Change_password", "User")">Change password</a></li>
                            <li><a href="@Url.Action("Logout", "User")">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro">
                    <p>@ViewBag.Notification</p>
                    <form action="/User/Account_edit" method="post" class="user">
                        <h4>01. Profile details</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Email Address</label>
                                <input type="text" name="email" value=@Model.email readonly="readonly">
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Created day</label>
                                <input type="text" name="created" value=@Model.created readonly="readonly">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>First Name</label>
                                <input type="text" name="first_name" value=@Model.first_name>
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Last Name</label>
                                <input type="text" name="last_name" value=@Model.last_name>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="save">
                            </div>
                        </div>
                    </form>
                    @*<form action="#" class="password">
            <h4>02. Change password</h4>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Old Password</label>
                    <input type="text" placeholder="**********">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>New Password</label>
                    <input type="text" placeholder="***************">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-it">
                    <label>Confirm New Password</label>
                    <input type="text" placeholder="*************** ">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input class="submit" type="submit" value="change">
                </div>
            </div>
        </form>*@
                </div>
            </div>
        </div>
    </div>
</div>
